
.album {
   background: #F5F5F5;

   &__header {
      padding-top: 47px;
      margin-bottom: 24px;
      display: flex;
      justify-content: space-between;
      transition: 1s;
      @media screen and (max-width: 840px) {
         padding-top: 38px;
         margin-bottom: 35px;
         transition: 1s;
      }
   }




   &__link {
      text-decoration: none;
      font-weight: 700;
      font-size: 13px;
      line-height: 22px;
      color: #4E4E4E;
      animation: fadein 1s;
      @media screen and (max-width: 540px) {
         display: none;
         
      }
   }


   &__content {
      padding-bottom: 50px;
      transition: 1s;
      @media screen and (max-width: 600px) {
         padding-bottom: 40px;

      }
   }


   &__list {
      display: flex;
      column-gap: 10px;
      @media screen and (max-width: 600px) {
         overflow-x: auto;
      }
   }
   &__list li {

      @media screen and (max-width: 768px) {
         &:last-child {
            display: none;
         }
      }
      @media screen and (max-width: 600px) {
         &:last-child {
            display: block;
         }
      }
   }


   &__img {
      width: 100%;
      @media screen and (max-width: 600px) {
         height: 250px;
         width: 250px;
      }
   }
}
