.footer {
   color: #ffffff;
   background-color: #000000;

   &__header {
      padding-top: 66px;
      margin-bottom: 22px;
      transition: 1s;
      @media screen and (max-width: 900px) {
         padding-top: 57px;

      }
      @media screen and (max-width: 767px) {
         padding-top: 38px;
         margin-bottom: 8px;


      }
   }


   &__title {
      color: #ffffff;
      text-align: center;

   }


   &__info {
      max-width: 684px;
      margin: 0 auto 37px auto;
      text-align: center;
      transition: 1s;
      @media screen and (max-width: 500px) {
         margin-bottom: 26px;
      }
   }


   &__links  {
      margin: 0 auto 34px auto;
      width: min-content;
      transition: 1s;
      @media screen and (max-width: 500px) {
         margin-bottom: 25px;
      }
   }
   &__links ul {
      display: flex;
      gap: 6px;

   }
   &__links ul li {

      height: 34px;
      width: 34px;
   }


   &__contacts {
      @include flexCenter(row, center, center);

      gap: 20px;
      padding-bottom: 70px;
      transition: 1s;


      @media screen and (max-width: 900px) {
         padding-bottom: 56px;
      }
      @media screen and (max-width: 660px) {
         padding-bottom: 47px;

         @include flexCenter(column, center, center);


         &__slash {
            display: none;
         }

      }

   }

   &__contacts a {
      text-decoration: none;
      color: #ffffff;
   }
   @media screen and (max-width: 660px) {
      &__slash {
         display: none;
      }

   }
}
