@import "variables";

body {
   font-family: $main-font;
}


._container {
   height: 100%;
   max-width: 1170px;
   padding: 0 10px;
   margin: 0 auto;
   
   transition: 1s;
   
   @media screen and (max-width: 940px) {
      padding: 0 20px;

   }

   @media screen and (max-width: 767px) {
      max-width: 768px;
      padding: 0 25px;
      transition: 1s;


   }
}

._block-title {
   font-weight: 700;
   font-size: 16px;
   line-height: 22px;
   color: #4E4E4E;
   transition: 1s;
   @media screen and (max-width: 767px) {
      font-size: 14px;

   }
}





