.header {
   height: 55px;
   margin-top: 29px;
   margin-bottom: 34px;
   transition: 1s;

   @media screen and (max-width: 940px) {
      margin-top: 23px;
      margin-bottom: 28px;

   }
   @media screen and (max-width: 767px) {
      margin-bottom: 23px;
   }

}

.top-nav {
   
   
   &__menu {
      height: 100%;
      max-width: 100%;

      margin: 0 auto;
      transition: .3s;



      @media screen and (max-width: 767px) {
         position: relative;
         height: 37px;
         width: 44px;
         background-color: black;
         margin: 0 0 0 auto;

      }
      



   }

   &__icon {
      cursor: pointer;
      display: none;
      padding: 0;

      

      

      .line {
         fill: none;
         stroke: white;
         stroke-width: 8;
         transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
         stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      .line1 {
         stroke-dasharray: 60 207;
         stroke-width: 8;
      }
      .line2 {
         stroke-dasharray: 60 60;
         stroke-width: 8;
      }
      .line3 {
         stroke-dasharray: 60 207;
         stroke-width: 8;
      }

      @media screen and (max-width: 767px) {
         display: flex;
         justify-content: center;
      }
   }

   &__list {
      height: 100%;
      @include flexCenter(row, space-evenly, center);
      @media screen and (max-width: 767px) {
         display: none;
      }
      @media screen and (max-width: 767px) {
         &--show {
            position: absolute;
            @include flexCenter(column, none, none);

            height: 208px;
            width: 182px;
            right: 0;
            top: 37px;
            background: #F5F5F5;
            overflow-y: auto;
         }
         &--show li a {
            display: block;
            height: 32px;
            width: 100%;
            padding-top: 5px;
            padding-left: 12px;
            transition: .3s;

         }
         &--show li a:hover {
         background-color: #E5E5E5;
         transition: .3s;

         }
      }
   } 


   &__link {
      text-decoration: none;
      font-size: 11px;
      line-height: 22px;
      color: #4E4E4E;
      transition: .3s;

   }
   &__link:hover {
      color: #57A4A4;
      transition: .3s;
   }
}







.opened .line1 {
   stroke-dasharray: 90 207;
   stroke-dashoffset: -134;
   stroke-width: 8;
 }
.opened .line2 {
   stroke-dasharray: 1 60;
   stroke-dashoffset: -30;
   stroke-width: 8;
 }
.opened .line3 {
   stroke-dasharray: 90 207;
   stroke-dashoffset: -134;
   stroke-width: 8;
 }

