.post-block {
   padding-bottom: 39px;
   transition: 1s;
   @media screen and (max-width: 940px) {
      padding-bottom: 30px;
   }
   @media screen and (max-width: 767px) {
      padding-bottom: 10px;
   }
}

.content {


		&__banner {
         margin-bottom: 66px;
         transition: 1s;
         @media screen and (max-width: 940px) {
            margin-bottom: 56px;
         }
         @media screen and (max-width: 767px) {
            margin-bottom: 38px;
         }
		}
		&__banner img {
         width: 100%;
		}



		&__title {
         margin-bottom: 24px;
         
         transition: 1s;

         @media screen and (max-width: 767px) {
            margin-bottom: 24px;
         }
		}



}
.post-list {


		&__list {

         display: grid;
         column-gap: 25px;
         grid-template-columns: repeat(2, 1fr);

         @media screen and (max-width: 940px) {
            @include flexCenter(column, none, none);


            animation: fadein 1s;

         }
		}


		&__item {
         margin-bottom: 32px;
         animation: fadein 1s;
         transition: 1s;

         @media screen and (max-width: 767px) {
            margin-bottom: 20px;
         }
         @media screen and (max-width: 530px) {

            &:last-child {
               display: none;
               animation: fadein 1s;

            }
         }
		}


		&__link {
         text-decoration: none;
         display: grid;
         grid-template-columns: 160px auto;
         column-gap: 20px;
         @media screen and (max-width: 530px) {
            display: flex;
            flex-direction: column;
         }
         
      }
      &__link img {
         height: 140px;
         width: 160px;
         @media screen and (max-width: 530px) {
            margin-bottom: 11px;
         }
      }
      &__link div {
         grid-column-start: 2;
         grid-column-end: 4;
         display: block;
         max-width: 404px;

      }


		&__title {
         font-weight: 700;
         font-size: 16px;
         line-height: 30px;
         color: #4E4E4E;
         @media screen and (max-width: 530px) {
            font-size: 14px;

         }
		}
      &__link span {
         display: block;
         margin-bottom: 13px;

         font-size: 12px;
         line-height: 20px;
         color: #7C7C7C;
         @media screen and (max-width: 530px) {
            font-size: 11px;

         }
      }


		&__description {
         font-size: 14px;
         line-height: 26px;
         color: #5C5C5C;
         @media screen and (max-width: 530px) {
            display: none;

         }
		}
}

@keyframes fadein {
   from {
       opacity: 0;
   }
   to {
       opacity: 1;
   }
}


