<div class="album">
   <div class="_container">
      
      <div class="album__header">
         <h2 class="album__title _block-title">- LATEST IINSTAGRAM SHOTS</h2>
         <a  class="album__link "href="#INSTAGRAM">GO TO OUR INSTAGRAM PAGE -</a>
      </div>
      <div class="album__content">
         <ul class="album__list">
            <li><img class="album__img" src="@img/album1.png" alt=""></li>
            <li><img class="album__img" src="@img/album2.png" alt=""></li>
            <li><img class="album__img" src="@img/album3.png" alt=""></li>
            <li><img class="album__img" src="@img/album4.png" alt=""></li>
         </ul>
      </div>

   </div>
</div>


      
