<footer class="footer">
   <div class="_container">
      <div class="footer__header">
         <h2 class="footer__title _block-title">- GET IN TOUCH WITH US -</h2>
      </div>
      <div class="footer__content">

         <div class="footer__info">
            <p>Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</p>
         </div>
         <div class="footer__links">
            <ul>
               <li><a href="#rrs"><img src="@img/RSS-ico.png" alt=""></a></li>
               <li><a href="#facebook"><img src="@img/Facebook-ico.png" alt=""></a></li>
               <li><a href="#twitter"><img src="@img/Twitter-ico.png" alt=""></a></li>
               <li><a href="#dribble"><img src="@img/Dribble-ico.png" alt=""></a></li>
               <li><a href="#pinterest"><img src="@img/Pinterest-ico.png" alt=""></a></li>
            </ul>
         </div>
         <div class="footer__contacts">
            <span>Moonshine St. 14-05 Light City</span>
            <span class="footer__slash">/</span>
            <a href="tel:+4733378901">+00 (123) 456 78 90 </a>
            <span class="footer__slash">/</span>
            <a href="mailto:first.last@email.com">first.last@email.com</a>
         </div>
      </div>
   </div>
</footer>