<header class="header">
   <nav class="header__top-nav _container">
      <div class="top-nav__menu"> 

         <div class="top-nav__icon" >
            <svg height="37" width="17" viewBox="0 0 100 100">
              <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
              <path class="line line2" d="M 20,50 H 80" />
              <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
            </svg>
         </div>

         <ul class="top-nav__list">        
            <li><a href="#home" class="top-nav__link">HOME</a></li>
            <li><a href="#about-us" class="top-nav__link">ABOUT US</a></li>
            <li><a href="#our-journal" class="top-nav__link">OUR JOURNAL</a></li>
            <li><a href="#projects" class="top-nav__link">PROJECTS</a></li>
            <li><a href="#news" class="top-nav__link">NEWS</a></li>
            <li><a href="#features" class="top-nav__link">FEATURES</a></li>
            <li><a href="#contact" class="top-nav__link">CONTACT</a></li>
         </ul>
      </div>
   </nav>
</header>



