<div class="post-block">
   <div class="posts-block__content _container">

      <section class="content__banner">
         <img src="@img/baner-img.png" alt="">
      </section>

      <h2 class="content__title _block-title">- OUR RECENT POSTS</h2>

      <section class="content__post-list">

         <ul class="post-list__list">
            
            <li class="post-list__item">


               <a class="post-list__link" href="#post1">
                  <img src="@img/post1.png" alt="">
                  
                  <div>

                     <h3 class="post-list__title">Aenean Adipiscing Etiam Vestibulum</h3>
                     <span class="">Photography, Journal / 9 Comments</span>
                     <p class="post-list__description">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                     
                  </div>
               </a>


            
            </li>



            <li class="post-list__item">
               <a class="post-list__link" href="#post2">
                  <img src="@img/post2.png" alt="">
                  <div>

                     <h3 class="post-list__title">Aenean Adipiscing Etiam Vestibulum</h3>
                     <span class="">Photography, Journal / 9 Comments</span>
                     <p class="post-list__description">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                     
                  </div>
               </a></li>

            <li class="post-list__item">
               <a class="post-list__link" href="#post3">
                  <img src="@img/post3.png" alt="">
                  <div>

                     <h3 class="post-list__title">Aenean Adipiscing Etiam Vestibulum</h3>
                     <span class="">Photography, Journal / 9 Comments</span>
                     <p class="post-list__description">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                     
                  </div>
               </a></li>

            <li class="post-list__item">
               <a class="post-list__link" href="#post4">
                  <img src="@img/post4.png" alt="">
                  <div>

                     <h3 class="post-list__title">Aenean Adipiscing Etiam Vestibulum</h3>
                     <span class="">Photography, Journal / 9 Comments</span>
                     <p class="post-list__description">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                     
                  </div>
               </a></li>
         </ul>
      </section>

   </div>
</div>